.roberto-btn-style {
    position: relative;
    z-index: 1;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1cc3b2;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; 
    }
.roberto-btn-style:focus, .roberto-btn-style:hover {
    font-weight: 500;
    background-color: #ffffff;
    color: #1cc3b2; 
    border: 1px solid #1cc3b2;
}
.roberto-btn-style1 {
    position: relative;
    z-index: 1;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: #ffffff;
    color: #1cc3b2; 
    border: 1px solid #1cc3b2;
    border-radius: 2px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; 
    }
.roberto-btn-style1:focus, .roberto-btn-style1:hover {
    font-weight: 500;
    background-color: #1cc3b2;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}